[submodule "fileadmin/user_upload/manuscripts/chagatai"]
	path = fileadmin/user_upload/manuscripts/chagatai
	url = https://github.com/Middle-Turkic-Database/chagatai
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/armeno-kipchak"]
	path = fileadmin/user_upload/manuscripts/armeno-kipchak
	url = https://github.com/Middle-Turkic-Database/armeno-kipchak
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/cuman"]
	path = fileadmin/user_upload/manuscripts/cuman
	url = https://github.com/Middle-Turkic-Database/cuman.git
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/middle karaim"]
	path = fileadmin/user_upload/manuscripts/middle karaim
	url = https://github.com/Middle-Turkic-Database/middle-karaim.git
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/khwarezmian turkic"]
	path = fileadmin/user_upload/manuscripts/khwarezmian turkic
	url = https://github.com/Middle-Turkic-Database/khwarezmian-turkic.git
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/mamluk turkic"]
	path = fileadmin/user_upload/manuscripts/mamluk turkic
	url = https://github.com/Middle-Turkic-Database/mamluk-turkic
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/volga bulgar"]
	path = fileadmin/user_upload/manuscripts/volga bulgar
	url = https://github.com/Middle-Turkic-Database/volga-bulgar
	ignore = all
[submodule "fileadmin/user_upload/manuscripts/volga turki"]
	path = fileadmin/user_upload/manuscripts/volga turki
	url = https://github.com/Middle-Turkic-Database/volga-turki.git
	ignore = all
