@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-Bold.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-BoldItalic.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-Light.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-Light.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-LightItalic.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-LightItalic.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-Italic.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-Italic.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-Regular.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-Thin.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans/NotoSans-ThinItalic.woff2') format('woff2'), url('../Fonts/NotoSans/NotoSans-ThinItalic.woff') format('woff'), url('../Fonts/NotoSans/NotoSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('../Fonts/NotoSansHebrew/NotoSansHebrew-Thin.woff2') format('woff2'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Thin.woff') format('woff'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('../Fonts/NotoSansHebrew/NotoSansHebrew-Bold.woff2') format('woff2'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Bold.woff') format('woff'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('../Fonts/NotoSansHebrew/NotoSansHebrew-Regular.woff2') format('woff2'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Regular.woff') format('woff'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('../Fonts/NotoSansHebrew/NotoSansHebrew-Light.woff2') format('woff2'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Light.woff') format('woff'),
        url('../Fonts/NotoSansHebrew/NotoSansHebrew-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../Fonts/FontAwesome/fa-regular-400.eot");
    src: url("../Fonts/FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../Fonts/FontAwesome/fa-regular-400.woff2") format("woff2"), url("../Fonts/FontAwesome/fa-regular-400.woff") format("woff"), url("../Fonts/FontAwesome/fa-regular-400.ttf") format("truetype"), url("../Fonts/FontAwesome/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../Fonts/FontAwesome/fa-solid-900.eot");
    src: url("../Fonts/FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../Fonts/FontAwesome/fa-solid-900.woff2") format("woff2"), url("../Fonts/FontAwesome/fa-solid-900.woff") format("woff"), url("../Fonts/FontAwesome/fa-solid-900.ttf") format("truetype"), url("../Fonts/FontAwesome/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
    margin-left: .3em;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.fa-bookmark:before {
    content: "\f02e";
}

.fa-book-open:before {
    content: "\f518";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-hand-point-left:before {
    content: "\f0a5";
}

.fa-comment-dots:before {
    content: "\f4ad";
}

.fa-quote-left:before {
    content: "\f10d";
}

.fa-quote-right:before {
    content: "\f10e";
}

.fa-times:before {
    content: "\f00d";
}

.fa-plus:before {
    content: "\f067";
}

.fa-plus-circle:before {
    content: "\f055";
}

.fa-times-circle:before {
    content: "\f057";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-file-download:before {
    content: "\f56d";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-ruler-combined:before {
    content: "\f546";
}

.fa-feather:before {
    content: "\f52d";
}

.fa-history:before {
    content: "\f1da";
}

.fa-user-edit:before {
    content: "\f4ff";
}

.fa-file-code:before {
    content: "\f1c9";
}