{namespace xslt=Digicademy\CobjXslt\ViewHelpers} {namespace xpath = Digicademy\CobjXpath\ViewHelpers}

<f:if condition="{f:cObject(typoscriptObjectPath:'lib.manuscriptPath')}">
    <f:variable name="manuscriptPath">
        <f:cObject typoscriptObjectPath="lib.manuscriptPath" />
    </f:variable>
    {manuscriptPath -> v:format.trim() -> f:variable(name:"manuscriptPath")}
</f:if>
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.manuscriptName')}">
    <f:variable name="manuscriptName">
        <f:cObject typoscriptObjectPath="lib.manuscriptName" />
    </f:variable>
    {manuscriptName -> v:format.trim() -> f:variable(name:"manuscriptName")}
</f:if>
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.manuscriptBook')}">
    <f:variable name="manuscriptBook">
        <f:cObject typoscriptObjectPath="lib.manuscriptBook" />
    </f:variable>
    <f:variable name="manuscriptBookExists" value="true" />
    {manuscriptBook -> v:format.trim() -> v:format.trim(characters:"'") -> f:format.padding(padLength:"3", padString:"0", padType:"left") -> f:variable(name:"manuscriptBook")}
</f:if>
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.manuscriptChapter')}">
    <f:variable name="manuscriptChapter">
        <f:cObject typoscriptObjectPath="lib.manuscriptChapter" />
    </f:variable>
    <f:variable name="manuscriptChapterExists" value="true" />
    {manuscriptChapter -> v:format.trim() -> v:format.trim(characters:"'") -> f:format.padding(padLength:"3", padString:"0", padType:"left") -> f:variable(name:"manuscriptChapter")}
</f:if>
<f:variable name="docType" value="transcription" />
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.docType')}">
    <f:variable name="docType">
        <f:cObject typoscriptObjectPath="lib.docType" />
    </f:variable>
    {docType -> v:format.trim() -> f:variable(name:"docType")}
</f:if>
<f:if condition="{docType} == 'translation'">
    <f:variable name="trlSuffix" value=".trl" />
</f:if>


<f:if condition="{manuscriptBookExists}">
    <f:then>
        <f:if condition="{manuscriptChapterExists}">
            <f:then>
                <f:variable name="manuscriptFullPath">{manuscriptPath}/{manuscriptName}{trlSuffix}/{manuscriptName}.{manuscriptBook}.{manuscriptChapter}{trlSuffix}.xml</f:variable>                
                <f:variable name="translationFullPath">{manuscriptPath}/{manuscriptName}.trl/{manuscriptName}.{manuscriptBook}.{manuscriptChapter}.trl.xml</f:variable>
            </f:then>
            <f:else>
                <f:variable name="manuscriptFullPath">{manuscriptPath}/{manuscriptName}{trlSuffix}/{manuscriptName}.{manuscriptBook}{trlSuffix}.xml</f:variable>
                <f:variable name="translationFullPath">{manuscriptPath}/{manuscriptName}.trl/{manuscriptName}.{manuscriptBook}.trl.xml</f:variable>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:variable name="firstTitle"><xpath:query source="{manuscriptPath}/{manuscriptName}.xml" expression="/tei:TEI/tei:teiHeader/tei:fileDesc/tei:sourceDesc/tei:msDesc/tei:msContents/tei:msItemStruct/tei:title[1]" namespace="tei|http://www.tei-c.org/ns/1.0" return="xml"/></f:variable>

        <f:variable name="firstTitleType"><xpath:query expression="/title/@type">
            {firstTitle.0}
        </xpath:query></f:variable>

        <f:variable name="firstTitleN"><xpath:query expression="/title/@n">
            {firstTitle.0}
        </xpath:query></f:variable>
        <f:variable name="firstTitleN"><v:format.trim>
            <f:format.padding padLength="3" padString="0" padType="left" value="{firstTitleN.0 -> v:format.trim()}" />
        </v:format.trim></f:variable>

        <f:if condition="{firstTitleType.0} == 'book'">
            <f:then>    
                <f:variable name="manuscriptFullPath">{manuscriptPath}/{manuscriptName}{trlSuffix}/{manuscriptName}.{firstTitleN}.001{trlSuffix}.xml</f:variable>
                <f:variable name="translationFullPath">{manuscriptPath}/{manuscriptName}.trl/{manuscriptName}.{firstTitleN}.001.trl.xml</f:variable>
            </f:then>
            <f:else if="{firstTitleType.0} == 'chapter'">
                <f:variable name="manuscriptFullPath">{manuscriptPath}/{manuscriptName}{trlSuffix}/{manuscriptName}.{firstTitleN}{trlSuffix}.xml</f:variable>
                <f:variable name="translationFullPath">{manuscriptPath}/{manuscriptName}.trl/{manuscriptName}.{firstTitleN}.trl.xml</f:variable>
            </f:else>
        </f:if>
    </f:else>
</f:if>

<f:if condition="{docType} == 'translation'">
    <f:then>
        <f:variable name="convertorPath" value="EXT:middle_turkic_project/Configuration/MSConvertors/manuscriptTranslation.xsl" />
    </f:then>
    <f:else if="{docType} == 'parallel'">
        <f:variable name="convertorPath" value="EXT:middle_turkic_project/Configuration/MSConvertors/manuscriptParallel.xsl" />
    </f:else>
    <f:else>
        <f:variable name="convertorPath" value="EXT:middle_turkic_project/Configuration/MSConvertors/manuscriptTranscription.xsl" />
    </f:else>
</f:if>

<v:media.exists file="{manuscriptFullPath}">
    <f:then>
        <f:if condition="{docType} == 'parallel'">
            <f:then>
                <v:media.exists file="{translationFullPath}">
                    <f:then>
                        <f:render section="renderContent" arguments="{manuscriptFullPath: manuscriptFullPath, translationFullPath: translationFullPath, convertorPath: convertorPath, docType: docType}" />
                    </f:then>
                    <f:else>
                        <f:render section="manuscriptNotFound" arguments="{docType: docType}"/>
                    </f:else>
                </v:media.exists>
            </f:then>
            <f:else>
                <f:render section="renderContent" arguments="{manuscriptFullPath: manuscriptFullPath, translationFullPath: translationFullPath, convertorPath: convertorPath, docType: docType}" />
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:render section="manuscriptNotFound" arguments="{docType: docType}"/>
    </f:else>
</v:media.exists>

<f:section name="renderContent">
    <f:if condition="{docType} == 'transcription' || {docType} == 'translation'">
        <f:then>
            <f:format.raw>
                <xslt:transform source="{manuscriptFullPath}" transformations="{0:{stylesheet: '{convertorPath}'}}" />
            </f:format.raw>    
            <f:render section="downloadSource" arguments="{manuscriptFullPath: manuscriptFullPath}" />    
        </f:then>
        <f:else>
        <f:format.raw>
                <xslt:transform source="{manuscriptFullPath}" transformations="{0:{stylesheet: '{convertorPath}', setParameters: {translationPath: {value: '{translationFullPath}'}}}}" />
            </f:format.raw>
        </f:else>
    </f:if>
</f:section>

<f:section name="downloadSource">
    <div class="accordion mt-5" id="accordion-200">
        <div class="accordion-item card">
            <div class="accordion-header card-header" id="accordion-heading-200-1">
                <h4 class="accordion-title">
                    <a href="#accordion-200-1" class="accordion-title-link" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-200-1">
                        <span class="accordion-title-link-text">
                            <i class="fas fa-file-code accardion-logo"></i>
                            XML Source
                        </span>
                        <span class="accordion-title-link-state"></span>
                    </a>
                </h4>
            </div>
            <div id="accordion-200-1" class="accordion-collapse collapse show" aria-labelledby="accordion-heading-200-1">
                <div class="accordion-body card-body">
                    <div class="accordion-content accordion-content-left">
                        <div class="accordion-content-item accordion-content-text">
                            <p>
                                <a href="{manuscriptFullPath}" class="dotted-underline font-weight-bold" target="_blank">
                                    <i class="far fa-eye mr-1"></i>
                                    View the XML (TEI Epidoc)
                                </a>
                            </p>
                            <p>
                                <a href="{manuscriptFullPath}" class="dotted-underline font-weight-bold" download="">
                                    <i class="fas fa-file-download mr-1"></i>
                                    Download the XML (TEI Epidoc)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="manuscriptNotFound">
    <h2>
        {docType -> f:format.case(mode:'capital')} Is Not Available!
    </h2>
</f:section>