{namespace xslt=Digicademy\CobjXslt\ViewHelpers} {namespace xpath = Digicademy\CobjXpath\ViewHelpers} {namespace vh=UppsalaUniversity\MiddleTurkicProject\ViewHelpers}
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.query')}">
    <f:variable name="query">
        <f:cObject typoscriptObjectPath="lib.query" />
    </f:variable>
    {query -> v:format.trim() -> v:format.url.encode() -> f:variable(name:"query")}
</f:if>
<f:variable name="pageNo">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.pageNo')}">
        <f:then>
            <f:cObject typoscriptObjectPath="lib.pageNo" />
        </f:then>
        <f:else>
            1
        </f:else>
    </f:if>
</f:variable>
{pageNo -> v:format.trim() -> f:variable(name:"pageNo")}
<f:variable name="numResults">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.numResults')}">
        <f:then>
            <f:cObject typoscriptObjectPath="lib.numResults" />
        </f:then>
        <f:else>
            10
        </f:else>
    </f:if>
</f:variable>
{numResults -> v:format.trim() -> f:variable(name:"numResults")}
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.msSet')}">
    <f:variable name="msSet">
        <f:cObject typoscriptObjectPath="lib.msSet" />
    </f:variable>
    {msSet -> v:format.trim() -> f:variable(name:"msSet")}
</f:if>
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.msEditions')}">
    <f:variable name="msEditions">
        <f:cObject typoscriptObjectPath="lib.msEditions" />
    </f:variable>
    {msEditions -> v:format.trim() -> f:variable(name:"msEditions")}
</f:if>
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.msBooks')}">
    <f:variable name="msBooks">
        <f:cObject typoscriptObjectPath="lib.msBooks" />
    </f:variable>
    {msBooks -> v:format.trim() -> f:variable(name:"msBooks")}
</f:if>

<f:variable name="result">
    <vh:baseX
        ftQuery = "{query}"
        pageNo = "{f:if(condition:'{pageNo}', then:'{pageNo}', else:'1')}"
        numResults = "{f:if(condition:'{numResults}', then:'{numResults}', else:'10')}"
        msSet = "{msSet}"
        msEditions = "{msEditions}"
        msBooks = "{msBooks}" />
</f:variable>

<f:format.raw>
    <xslt:transform source="{result}" transformations="{0:{stylesheet: 'EXT:middle_turkic_project/Configuration/MSConvertors/manuscriptSearch.xsl'}}" />
</f:format.raw>