{namespace vh=UppsalaUniversity\MiddleTurkicProject\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
    <form id="ms-search-form">
        <div class="accordion my-3" id="msComparisonFiltersAccordion">
            <div class="accordion-item card">
                <div class="accordion-header card-header" id="filtersHeading">
                    <h4 class="accordion-title">
                        <a href="#filtersCollapse" class="accordion-title-link collapsed" data-toggle="collapse" aria-expanded="true" aria-controls="filtersCollapse">
                            <span class="accordion-title-link-text">
                                <i class="fas fa-filter accardion-logo"></i>
                                Filters
                            </span>
                            <span class="accordion-title-link-state"></span>
                        </a>
                    </h4>
                </div>
                <div id="filtersCollapse" class="collapse" aria-labelledby="filtersHeading" data-parent="#msComparisonFiltersAccordion">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md form-group align-self-center">
                                <label for="searchMsSet">Manuscript Set</label>
                                <select class="custom-select" id="searchMsSet">
                                    <option selected value="Any">All Sets</option>
                                    <f:render section="createMsSetSlectionOptions" arguments="{msMenu: msMenu}" />
                                </select>
                            </div>
                            <div class="col-md form-group">
                                <label for="searchMsEditions">Edition</label>
                                <select multiple class="custom-select" id="searchMsEditions" disabled>
                                    <option value="Any">All Editions</option>
                                </select>
                            </div>
                            <div class="col-auto form-group align-self-center">
                                <button type="button" class="btn btn-primary mt-4" id="btnFetchBooks" disabled>
                                    <i class="fas fa-angle-double-right"></i>
                                </button>
                            </div>
                            <div class="col-md form-group">
                                <label for="searchMsBooks">Section</label>
                                <select multiple class="custom-select" id="searchMsBooks" disabled>
                                    <option select value="Any">All Sections</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- style="display: none;" -->
        <div  class="accordion my-3" id="msComparisonFiltersMetaAccordion">
            <div class="accordion-item card">

                <!-- 1st part: the header of the item -->
                <div class="accordion-header card-header" id="filtersMetaHeading">
                    <!-- letter size -->
                    <h4 class="accordion-title">
                        <a href="#filtersMetaCollapse" class="accordion-title-link collapsed" data-toggle="collapse" aria-expanded="true" aria-controls="filtersMetaCollapse">
                            <span class="accordion-title-link-text">
                                <!-- filter logo -->
                                <i class="fas fa-filter accardion-logo"></i>
                                Advanced Filters
                            </span>
                            <!-- plus + and cross x symbols -->
                            <span class="accordion-title-link-state"></span>
                        </a>
                    </h4>
                </div>

                <div class="collapse" id="filtersMetaCollapse">
                    <button type="button" class="d-block btn btn-link btn-sm mb-1 mr-1 ml-auto btn-deselect-all" ><i class="bi bi-x-square"></i>Deselect All</button>
                    <div class="card-body">
                        <!-- row 1 -->
                        <div class="form-row">
                            <div class="col-md form-group" >
                                <label for="languageOptions">Language</label>
                                <select multiple class="custom-select" id="languageOptions">
                                </select>
                            </div>
                            <div class="col-md form-group">
                                <label for="settlementOptions">Settlement, Country</label>
                                <select multiple class="custom-select" id="settlementOptions">
                                </select>
                            </div>
                        </div>
                        <!-- row 2 -->
                        <div class="form-row">
                            <div class="col-md form-group">
                                <label for="creation-dateOptions">Date</label>
                                <select multiple class="custom-select" id="creation-dateOptions">
                                </select>
                            </div>
                            <div class="col-md form-group">
                                <label for="scriptNoteOptions">Script</label>
                                <select multiple class="custom-select" id="scriptNoteOptions">
                                </select>
                            </div>
                        </div>
                        <!-- row 3 -->
                        <div class="form-row">
                            <div class="col-md form-group">
                                <label for="objectTypeOptions">Object Type</label>
                                <select multiple class="custom-select" id="objectTypeOptions">
                                </select>
                            </div>
                            <div class="col-md form-group">
                                <label for="handNote_scriptOptions">Script Type</label>
                                <select multiple class="custom-select" id="handNote_scriptOptions">
                                </select>
                            </div>
                        </div>
                        <!-- row 4 -->
                        <div class="form-row">
                            <div class="col-md form-group">
                                <label for="creation-origPlaceOptions" >Place of origin</label>
                                <select multiple class="custom-select" id="creation-origPlaceOptions">
                                </select>
                            </div>
                            <div class="col-md form-group">
                                <label for="repositoryOptions" >Repository</label>
                                <select multiple class="custom-select" id="repositoryOptions">
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-row justify-content-center align-items-end">
            <div class="form-group col">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-input" />
            </div>
            <div class="form-group col-auto"><button type="submit" class="btn btn-primary" disabled>Search</button></div>
        </div>
    </form>

    <div class="mt-3 px-2 loader" style="display: none;">Loading<span class="d-inline-block ml-4 dot-pulse"></span></div>
    <div id="searchResults"></div>
    <f:asset.script identifier="msSearch" src="EXT:middle_turkic_project/Resources/Public/JavaScript/Dist/msSearch.js" type="module" />
</f:section>

<f:section name="createMsSetSlectionOptions">
    <f:for each="{msMenu}" as="msMenuItem">
        <f:comment>
            <f:if condition="{msNav}">
                <f:variable name="msNav" value="{msNav}/" />
            </f:if>
        </f:comment>
        <f:variable name="msNav" value="{msMenuItem.title}" />
        <f:if condition="{msMenuItem.children}">
            <f:then>
                <f:render section="createMsSetSlectionOptions" arguments="{msMenu: msMenuItem.children, msNav: msNav}" />
            </f:then>
            <f:else>
                <option value="{msNav}">{msMenuItem.title}</option>
            </f:else>
        </f:if>
        <v:format.pregReplace subject="{msNav}" pattern="#/?{msMenuItem.title}$#" replacement="" as="msNav"/>
    </f:for>
</f:section>