@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/carousel";

.carousel {
    .carousel-indicators {
        li {
            overflow: hidden;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            border: 1px solid white;
        }
    }
}