//
// Variables
//

//
// Footer
//
$footer-sections: () !default;
$footer-sections: map-merge(
    (
        content: (
            background:                #CCCCCC,
            color:                     $black,
            link-color:                $primary
        ),
        meta: (
            background:                #333,
            color:                     $gray-300,
            link-color:                $gray-300
        )
    ),
    $footer-sections
);

$font-size-base:    1.1rem;